.create-post{
    display: grid;
    place-items: start;
    gap: 30px;
}
.create-post form{
    display: grid;
    justify-items: start;
}
.create-post form label{
    display: grid;
    justify-items: start;
}
.buy-sell{
    padding: 10px;
}

.create-h1{
    color: red;
    font-size: 36px;
    font-style: italic;
}

.legend{
    font-size: 20px;
    text-decoration: underline;
}

.create-a-post-label{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.create-post-btn{
    background-color: white; 
    color: black; 
    border: 2px solid #afb6af;
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 3px #999;
    cursor: pointer;
    width: 110px;
    height: 35px;

}

.create-post-btn:hover{
    background-color: #afb6af;
    color: white;
}

.create-post-btn:active{
    background-color: #3e443e;
    box-shadow: 0 2px #666;
    transform: translateY(3px);
}

.create-post-input1{
    width: 300px;
    height: 35px;
    border-radius: 20px;
    border: thin solid gray;
    margin-right: 10px;
    padding: 10px;
    margin-left: 7px;
}
.create-post-input2{
    width: 300px;
    height: 35px;
    border-radius: 20px;
    border: thin solid gray;
    margin-right: 10px;
    padding: 10px;
    margin-left: 65px;
}
.create-post-input3{
    width: 300px;
    height: 35px;
    border-radius: 20px;
    border: thin solid gray;
    margin-right: 10px;
    padding: 10px;
    margin-left: 53px;
}
.create-post-input4{
    width: 300px;
    height: 35px;
    border-radius: 20px;
    border: thin solid gray;
    margin-right: 10px;
    padding: 10px;
    margin-left: 42px;
}

.create-post-textarea{
    width: 300px;
    height: 70px;
    border-radius: 10px;
    border: thin solid gray;
    margin-right: 10px;
    padding: 10px;
    margin-left: 5px;
}