.post-details {
    display: grid;
    grid-auto-flow: column;
    width: 800px;
    height: 400px;
    justify-content: start;
    gap: 30px;
    margin: 70px 400px;
  }

  .post-detail-side{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 20px));
    margin-top: 50px;
  }
  

  .post-details img{
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0.1px #888888;
    object-fit: scale-down;
    margin-top: 65px;
  }

  .back-button{
    background-color: white; 
    color: black; 
    border: 2px solid #afb6af;
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 3px #999;
    cursor: pointer;
}

.back-button:hover{
    background-color: #afb6af;
    color: white;
}

.back-button:active{
    background-color: #3e443e;
    box-shadow: 0 2px #666;
    transform: translateY(3px);
}

.user-info{
  border: thin solid grey;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
}