.main-div{
    margin-top: 100px;
    display: flex;
    justify-items: center;
}

.image{
    width: 200px;
    height: 200px;
}

.posts-div{
    display: grid;
}

.single-post{
    display: grid;
    grid-auto-flow: row;
    background-color: rgba(220, 220, 220, 0.232);
    width: 700px;
    margin: 20px 100px;
    border: thin solid rgba(128, 128, 128, 0.288);
    padding: 15px;
}

.post-content{
    display: grid;
    grid-auto-flow: column;
}

.single-post img{
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0.1px #888888;
    object-fit: scale-down;
}

.post-content-text{
    display: grid;
    grid-auto-flow: row;
    padding: 20px;
}

.post-content-text h3{
    font-weight: 300;
}

/* .save-button{
    width: 50px;
    background-color: white; 
    color: black; 
    border: 2px solid #afb6af;
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 3px #999;
}

.save-button:hover{
    background-color: #afb6af;
    color: white;
}

.save-button:active{
    background-color: #3e443e;
    box-shadow: 0 2px #666;
    transform: translateY(3px);
} */

.saved-button{
    all: unset;
    font-size: 2rem;
    cursor: pointer;
}

.saved-btn{
    color: #afb6af;
}

.delete-button{
    all: unset;
    font-size: 2rem;
    cursor: pointer;
}

.delete-btn{
    color: red;
}

.details-button{
    background-color: white; 
    color: black; 
    border: 2px solid #afb6af;
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 3px #999;
    cursor: pointer;
}

.details-button:hover{
    background-color: #afb6af;
    color: white;
}

.details-button:active{
    background-color: #3e443e;
    box-shadow: 0 2px #666;
    transform: translateY(3px);
}
.my-posts-h1{
    color: red;
    font-size: 36px;
    font-style: italic;
}
.my-posts{
    padding-top: 20px;
    display: grid;
    place-items: center;
    gap: 10px;
}