:root{
    --hover-color: #808080b9;
}

.header-1{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid grey;
}
.header-1-user{
    display: grid;
    grid-auto-flow: column;
    padding: 5px 10px;
    border: 1px solid black;
    gap: 20px;
    cursor: pointer;
    border-radius: 10px;
}
.header-1-user p{
    display: grid;
    align-items: center;
}
.user-name{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}
.header-1-user-image{
    border: 1px solid grey;
    padding: 5px;
    width: 50px;
    height: 50px;
    background-color: royalblue;
    color: white;
    text-align: center;
    font-size: 1.7rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 30px;
}


.header-1-icons{
    font-size: 2rem;
    color: grey;
    display: flex;
    gap: 50px;
    align-items: center
}
.header-1-icons button{
    font-size: 1.3rem;
    font-weight: bold;
}


.bookmark{
    font-size: 2.2rem;
    cursor: pointer;
}
.bookmark:hover{
    color: var(--hover-color)
}

.header-1-user-signout{
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    align-items: center;
}
.header-1-user-signout button{
    width: 100%;
    height: 60%;
    cursor: pointer;
}

.signin-button{
    background-color: white; 
    color: black; 
    border: 2px solid #afb6af;
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 3px #999;
    cursor: pointer;
}

.signin-button:hover{
    background-color: #afb6af;
    color: white;
}

.signin-button:active{
    background-color: #3e443e;
    box-shadow: 0 2px #666;
    transform: translateY(3px);
}

.signup-button{
    background-color: white; 
    color: black; 
    border: 2px solid #afb6af;
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 3px #999;
    cursor: pointer;
}

.signup-button:hover{
    background-color: #afb6af;
    color: white;
}

.signup-button:active{
    background-color: #3e443e;
    box-shadow: 0 2px #666;
    transform: translateY(3px);
}

.signout-button{
    background-color: white; 
    color: black; 
    border: 2px solid #afb6af;
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 3px #999;
    cursor: pointer;
}

.signout-button:hover{
    background-color: #afb6af;
    color: white;
}

.signout-button:active{
    background-color: #3e443e;
    box-shadow: 0 2px #666;
    transform: translateY(3px);
}