.App {
  height: 100vh;
  display: grid;
  grid-template:
  "header-1    header-1  header-1" 100px
  ".    header-2  ." 70px
  ".    main      ." 1fr
  ".    footer    ." 120px /
250px   1fr       250px ;
}

.header-1{
  grid-area: header-1;
}
.header-2{
  grid-area: header-2;
}
.main{
  grid-area: main;
  border-bottom: 1px solid #e6e6e6;
}
.footer {
  grid-area: footer;
}
