.App {
  height: 100vh;
  display: grid;
  grid-template:
  "header-1    header-1  header-1" 50px
  ".    header-2  ." 80px
  ".    main      ." auto
  ".    footer    ." auto /
250px   1fr       250px ;
}

.header-1{
  grid-area: header-1;
}
.header-2{
  grid-area: header-2;
}
.main{
  grid-area: main;
}
.footer {
  grid-area: footer;
}
